CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N1 C1 C5
  TEMPLATE::   ATOM_MAP: 1 residue3: PTB

  TEMPLATE::   ATOM_MAP: 2 atom_name: OOC ,
  TEMPLATE::   ATOM_MAP: 2 residue1:  E

  CONSTRAINT:: distanceAB:     2.8   0.3  60.0    0   1
  CONSTRAINT::    angle_A:   144.9  10.0  10.0  360.  1
  CONSTRAINT::    angle_B:   129.5  10.0  10.0  360.  1
  CONSTRAINT::  torsion_A:   174.4  25.0  10.0  360.  2
  CONSTRAINT:: torsion_AB:  -177.5  10.0  10.0  360.  1
  CONSTRAINT::  torsion_B:  -102.6  30.0  10.0  360.  3

CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CD OE1 OE2
  TEMPLATE::   ATOM_MAP: 1 residue1: E

  TEMPLATE::   ATOM_MAP: 2 atom_name: N1 C1 C5
  TEMPLATE::   ATOM_MAP: 2 residue1: PTB

  CONSTRAINT:: distanceAB:    3.5   0.20 100.0  0     0
  CONSTRAINT::    angle_A:   63.5   10.0  10.0  360.  1
  CONSTRAINT::    angle_B:   93.7   10.0  10.0  360.  1
  CONSTRAINT::  torsion_A:   31.5   20.0  10.0  360.  2
  CONSTRAINT:: torsion_AB:   55.4   20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:   118.5  20.0  10.0  360.  2
  ALGORITHM_INFO:: match
     SECONDARY_MATCH: UPSTREAM_CST 1
  ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: OCbb
  TEMPLATE::   ATOM_MAP: 1 residue1: 



  TEMPLATE::   ATOM_MAP: 2 atom_type: N1 C1 C5,
  TEMPLATE::   ATOM_MAP: 2 residue1:  PTB

  CONSTRAINT:: distanceAB:    3.00  0.20  100.0  0    0
  CONSTRAINT::    angle_A:   120.5  20.0  10.0  360.  1
  CONSTRAINT::    angle_B:   120.2  20.0  10.0  360.  1
  CONSTRAINT::  torsion_A:   180.0  40.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:   93.5  20.0  10.0  360.  10
  #CONSTRAINT::  torsion_B:  180.0  70.0  10.0  180.  2

  ALGORITHM_INFO:: match
     SECONDARY_MATCH: UPSTREAM_CST 2
  ALGORITHM_INFO::END
CST::END

VARIABLE_CST::BEGIN

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CL1 C12 C11
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: Ntrp
  TEMPLATE::   ATOM_MAP: 2 residue1:  WH

  CONSTRAINT:: distanceAB:   3.2     0.3  60.0  0     1
  CONSTRAINT::    angle_A:   105.3  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   90.7   15.0  10.0  360.  1
  #CONSTRAINT::  torsion_A: -131.0  25.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:  -41.6  20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:  -177.8  30.0  10.0  180.  3
  
  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CL1 C12 C11
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: NH2O
  TEMPLATE::   ATOM_MAP: 2 residue1:  NQ

  CONSTRAINT:: distanceAB:   3.2     0.3  60.0  0     1
  CONSTRAINT::    angle_A:   105.3  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   90.7   15.0  10.0  360.  1
  #CONSTRAINT::  torsion_A: -131.0  25.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:  -41.6  20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:  -177.8  30.0  10.0  180.  3

  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CL1 C12 C11
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: OH  ,
  TEMPLATE::   ATOM_MAP: 2 residue1:  Y

  CONSTRAINT:: distanceAB:   3.2     0.3  60.0  0     1
  CONSTRAINT::    angle_A:   105.3  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   90.7   15.0  10.0  360.  1
  #CONSTRAINT::  torsion_A: -131.0  25.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:  -41.6  20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:  -177.8  30.0  10.0  180.  3
  
  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
CST::END

VARIABLE_CST::END

VARIABLE_CST::BEGIN

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CL1 C12 C11
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: Ntrp
  TEMPLATE::   ATOM_MAP: 2 residue1:  WH

  CONSTRAINT:: distanceAB:     3.3   0.3  60.0  0     1
  CONSTRAINT::    angle_A:    88.5  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   111.5  15.0  10.0  360.  1
  #CONSTRAINT::  torsion_A:  108.2  25.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:   58.2  20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:   -14.0  30.0  10.0  180.  3
  
  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CL1 C12 C11
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: NH2O
  TEMPLATE::   ATOM_MAP: 2 residue1:  NQ

  CONSTRAINT:: distanceAB:     3.3   0.3  60.0  0     1
  CONSTRAINT::    angle_A:    88.5  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   111.5  15.0  10.0  360.  1
  #CONSTRAINT::  torsion_A:  108.2  25.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:   58.2  20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:   -14.0  30.0  10.0  180.  3

  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: CL1 C12 C11
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: OH  ,
  TEMPLATE::   ATOM_MAP: 2 residue1:  Y

  CONSTRAINT:: distanceAB:     3.3   0.3  60.0  0     1
  CONSTRAINT::    angle_A:    88.5  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   111.5  15.0  10.0  360.  1
  #CONSTRAINT::  torsion_A:  108.2  25.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:   58.2  20.0  10.0  360.  2
  CONSTRAINT::  torsion_B:   -14.0  30.0  10.0  180.  3
  
  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
CST::END

VARIABLE_CST::END

VARIABLE_CST::BEGIN

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N1 C6 N2
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: OOC ,
  TEMPLATE::   ATOM_MAP: 2 residue1:  DE

  CONSTRAINT:: distanceAB:     3.0   0.3  60.0  0     1
  CONSTRAINT::    angle_A:   120.0  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   100.0  30.0  10.0  360.  1
  CONSTRAINT::  torsion_A:     0.0  30.0  10.0  360.  2
  CONSTRAINT:: torsion_AB:   180.0  40.0  10.0  360.  2
  CONSTRAINT::  torsion_B:   180.0  30.0  10.0  360.  3

  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
CST::END

CST::BEGIN
  TEMPLATE::   ATOM_MAP: 1 atom_name: N1 C6 N2
  TEMPLATE::   ATOM_MAP: 1 residue3: BTM

  TEMPLATE::   ATOM_MAP: 2 atom_type: OCbb,
  TEMPLATE::   ATOM_MAP: 2 is_backbone
  TEMPLATE::   ATOM_MAP: 2 residue1: ACDEFGHIKLMNPQRSTVWY

  CONSTRAINT:: distanceAB:     3.0   0.3  60.0  0     1
  CONSTRAINT::    angle_A:   120.0  15.0  10.0  360.  1
  CONSTRAINT::    angle_B:   180.0  30.0  10.0  360.  1
  CONSTRAINT::  torsion_A:     0.0  30.0  10.0  360.  2
  #CONSTRAINT:: torsion_AB:  180.0  40.0  10.0  360.  2
  #CONSTRAINT::  torsion_B:  180.0  30.0  10.0  360.  3

  ALGORITHM_INFO:: match
     SECONDARY_MATCH: DOWNSTREAM
  ALGORITHM_INFO::END
CST::END

VARIABLE_CST::END
